.khan {
  display: flex;
  flex-direction: column;
  padding-top: 105px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  top: 320px;
}
