.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  object-fit: cover;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 730px;
  display: flex;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  top: 30px;
  right: 0;
  width: 568px;
  height: 568px;
  z-index: -2;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.description {
  display: flex;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 784px;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}


.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: auto;
  text-align: center;
  font-weight: normal;
}

.table {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
}

.table__text {
  padding: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}


.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.feynman__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.feynman__subtitle {
  margin-bottom: 0;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 90px;
  padding-top: 90px;
}

.section-title_theme_dark {
  color: white;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  color: white;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background-size: cover;
}


.footer {
  background-color: #1f1f1f;
  box-sizing: border-box;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 90%;
  color: white;
  min-height: 250px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  font-size: 20px;
  object-fit: cover;
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;

}

.footer__column_content_info {
  list-style-type: none;
}

.footer__column_content_social {
  list-style-type: none;
}

.footer__author {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__column-links {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:last-of-type {
  padding-bottom: 0;
}

.footer__social-icon {
  padding-right: 10px;
}
